<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Riffit needs microphone access to record voice notes for your stories.</string>
	<key>NSCameraUsageDescription</key>
	<string>Riffit needs camera access to take photos for your stories.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Riffit needs photo library access to add images to your stories.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lora-Regular.ttf</string>
		<string>Lora-Medium.ttf</string>
		<string>Lora-Bold.ttf</string>
		<string>Lora-Italic.ttf</string>
		<string>DMSans-Light.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-Medium.ttf</string>
	</array>
</dict>
</plist>
